

body { /* We can style any HTML element by using its name - here we're styling the body */
  /* We want text that uses a clean sans-serif font, is usually 16px big and close to black */
  font-family: 'Playfair Display','Times New Roman','Helvetica Neue', Helvetica, Arial, sans-serif;
  font-size: 14px;
  color: "black";
  line-height: 1.6;
  background-color: azure;
  margin:0 auto;
  max-width: 500px;
  padding-top: 80px;
 
}


h1, h2, h3, h4, h5, h6 {
  color: #000000;
  margin-top: 24px;
  margin-bottom: 16px;
  font-weight: 600;
  font-family:'Playfair Display',serif
}

/* We want the headings to be a little bigger than the paragraph text */
.big { /* This is the class we created in the HTML file, you can use it to style any element */
  font-size: 2.5em;
}

h2 {
  font-size: 1.75em;
}

h1 {
  font-size: 5em;
}

.small {
  font-size: 1.25em;
}

/* Paragraph */
p {
  margin-bottom: 1em;
  font-weight: 300;
  color: rgb(0, 0, 0);
}

section {
  margin-bottom: 2.5em;  /* We want a little more space between sections */
}

/* Links */
/* We want the links to be a little more visible  and a different color */
a {
  color: #000000;
  text-decoration: none;
}

a:hover {
  text-decoration: underline;
}
  
/* Images */
img {
  max-width: 100%;
  height: auto;
}
